:host {
    background-color: var(--primary-color);
    color: var(--on-primary-color);
    display: grid;
    justify-items: center;
}

nav {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-auto-flow: column;
    height: 100%;
    max-width: 320px;
    width: 100%;
}

.link {
    width: 56px;
    height: 56px;
    display: grid;
    place-items: center;
    border-radius: var(--border-radius-md);
}

.link.active {
    background-color: var(--tertiary-color);
}

.icon {
    width: 32px;
    height: 32px;
}
