/* You can add global styles to this file, and also import other style files */
@import 'assets/scss/base/reset.scss';
@import 'assets/scss/theme.scss';

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--primary);
    color: var(--on-primary);
    display: grid;
    place-items: center;
}

h1 {
    font-size: 32px;
}

.ball {
    width: 64px;
    height: 64px;
}
