:root {
  --primary-color: #2a3469;
  --on-primary-color: #FFFFFF;
  --secondary-color: #263d8d;
  --on-secondary-color: #FFFFFF;
  --tertiary-color: #0d4cb5;
  --on-tertiary-color: #FFFFFF;
  --surface-color: #3b3b3b;
  --on-surface-color: #FFFFFF;
  --surface-border-color: #262626;
}
